<!DOCTYPE html>
<html lang="es" data-lang="es">
<head>
{% include head.html %}
</head>
<body class="{{ page.clase | default: '' }}">
<a class="saltar" href="#contenido"><span lang="es">Saltar al contenido</span><span lang="en">Skip to content</span></a>
{% include banda-superior.html %}
<main id="contenido" tabindex="-1">
{{ content }}
</main>
{% include pie.html %}
<script src="/assets/js/bloques.js"></script>
{%- for js in page.js %}
<script src="{{ js }}"></script>
{%- endfor %}
</body>
</html>
